.loader {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    opacity: 0.9;
    user-select: none;
    z-index: 999999;
    transition: opacity .1s ease, visibility .1s ease;
}
.loader__hide{
    opacity: 0!important;
    visibility: hidden!important;
}
.loader__img{
    border-radius: 15px;
}
.image-box {
    width: 100%;
    display: flex;
}
.img-responsive {
    width: 100%;
    height: 100vh;
    display: inline-block;
}
.login{
    width: 60%;
    height: 100vh;
    background: #Ecf0f3;
}
.form {
    width: 65% !important;
    background-color: #Ecf0f3;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.login-top {
    background-image: url(../../images/soat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 8rem;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid white;
    box-shadow: 0 0 2px #5F5F5F, 8px 8px 15px #a7aaaf, -8px -8px 15px #fff;
}
.input-username, .input-email, .input-password {
    border: none !important;
    outline: none !important;
    background: none !important;
}
.username, .email, .password {
    padding: 15px 8px 15px 5px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.btn {
    padding: 15px 8px 15px 8px;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    border-radius: 30px;
}
.btn:hover {
    background-color: #50e5b9;
}
.btn:active {
    background-color: #88ef9e;
}
.fa-check {
    display: none;
}
.fa-circle-exclamation {
    display: none;
}
.password-icon {
    margin-left: 77%;
    margin-top: 2%;
    transform: translateX(83%);
}
.password-icon:active {
    color: rgb(75, 72, 72) !important;
}
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column !important;
    }
    .login, .image-box {
        width: 100% !important;
        height: unset;
        overflow: hidden;
    }
    .login {
        height: 100vh;
    }
    .form {
        width: 100% !important;
        height: 90vh !important;
    }
}